{% load static %}

<!-- Footer -->
<footer class="mx-2 md:mx-72 text-neutral-400 ">
  <p class="mt-2 md:mt-5 text-slate-200">This Project is not Associated with Netflix.</p>
  <div class="grid grid-cols-2 py-4 md:grid-cols-4">
    <a href="/#FAQ" class=" hover:underline">FAQ</a>
    <a target="_blank" href="{% url 'project' %}" class="hover:underline">Source Code</a>
    <a target="_blank" href="{% url 'developer' %}" class="hover:underline">Developer</a>
    <a target="_blank" href="{% url 'donate' %}" class="hover:underline">Donate</a>
  </div>
  <div class="pt-6 px-4">
    <span class="text-gray-300">
      © {% now 'Y' %} <a href="{% url 'developer' %}" target="_blank" class="hover:underline">EitoZX</a>™. All Rights Reserved.
    </span>
  </div>
</footer>
